adfm2prod/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adfm2prod"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"AzureDataLakeStorage1\""
		},
		"AzureDatabricksDM2_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"AzureDatabricksDM2\""
		},
		"AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase\""
		},
		"GitHub1_credential": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"credential\"de \"GitHub1\""
		},
		"SingleStoreConnection_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"SingleStoreConnection\""
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stm2datalake001.dfs.core.windows.net/"
		},
		"AzureDatabricksDM2_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0501-071308-en8j4x3v"
		},
		"GitHub1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "onirosd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDM2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-616333522270563.3.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDM2_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksDM2_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitHub1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('GitHub1_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('GitHub1_credential')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDEwODFDQjZGLUNGMjAtNDE3MC05OUYwLTdEMThFQjUxNUJDOF83YzkxYTM1Zi1hOTAzLTQ0MjctOTYzZi05MmJkN2M5MGY0Y2IiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SingleStoreConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('SingleStoreConnection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CLEAN_ODC_ACTIVIDADES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CLEAN ODC ACTIVIDADES",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/PROYECTO CLASE/load_odc_actividad_empleado"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "plata"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-24T19:59:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDM2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CLEAN_ODC_DETALLE_FACTURA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CLEAN ODC DETALLE FACTURA",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA PLATA/load_data_odc_facturas_detalles"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "plata"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-05T03:46:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDM2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CLEAN_ODC_FACTURA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CLEAN_ODC_FACTURAS",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA PLATA/load_data_odc_facturas"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "plata"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-05T03:46:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDM2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/malla_oro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dim_almacen",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_almacen"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_articulo",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_articulo"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_cliente",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_cliente"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_empleado",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_almacen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_empleado"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_mediopago",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_articulo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_mediopago"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_moneda",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_cliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_moneda"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_puntoventa",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_empleado",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_puntoventa"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_tipodocumentos",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_mediopago",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_tipodocumentos"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "dim_ubigeo",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_moneda",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_dim_ubigeo"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "fac_facturas",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "dim_puntoventa",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_tipodocumentos",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_ubigeo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/pda3dhurtado@dmclatam.onmicrosoft.com/CAPA ORO/load_data_fact_ventagenerales"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksDM2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "malla"
				},
				"annotations": [],
				"lastPublishTime": "2024-05-06T04:36:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDM2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputAlmacen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_almacen",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputArticulo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_articulo",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputCliente')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_cliente",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputEmpleado')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_empleado",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputLocal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_local",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputMoneda')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_moneda",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputTarjeta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_tarjeta",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputTipoDocumento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_tipoDocumento",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCleanOutputUbigeo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/output datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "clean_ubigeo",
						"fileSystem": "capaplata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataRawInputAlmacen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/input datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw_ttalmacen",
						"fileSystem": "capabronce"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "nombrepc",
						"type": "UTF8"
					},
					{
						"name": "usuariopc",
						"type": "UTF8"
					},
					{
						"name": "ippc",
						"type": "UTF8"
					},
					{
						"name": "cempresa",
						"type": "UTF8"
					},
					{
						"name": "code",
						"type": "UTF8"
					},
					{
						"name": "calmacen",
						"type": "UTF8"
					},
					{
						"name": "caja",
						"type": "UTF8"
					},
					{
						"name": "activo",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataRawInputArticulo2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "plata/input datasets"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw_ttarticulo",
						"fileSystem": "capabronce"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Codarticulo",
						"type": "UTF8"
					},
					{
						"name": "Proveedor",
						"type": "UTF8"
					},
					{
						"name": "Modelo",
						"type": "UTF8"
					},
					{
						"name": "Linea",
						"type": "UTF8"
					},
					{
						"name": "cMaterial",
						"type": "UTF8"
					},
					{
						"name": "color",
						"type": "UTF8"
					},
					{
						"name": "Talla",
						"type": "UTF8"
					},
					{
						"name": "cTaco",
						"type": "UTF8"
					},
					{
						"name": "cmC",
						"type": "UTF8"
					},
					{
						"name": "cmV",
						"type": "UTF8"
					},
					{
						"name": "Descripcion",
						"type": "UTF8"
					},
					{
						"name": "Unidad",
						"type": "UTF8"
					},
					{
						"name": "Stock",
						"type": "INT32"
					},
					{
						"name": "StockMin",
						"type": "INT32"
					},
					{
						"name": "StockMax",
						"type": "INT32"
					},
					{
						"name": "CostoPromedio",
						"type": "INT32"
					},
					{
						"name": "Costo",
						"type": "INT32"
					},
					{
						"name": "CodPais",
						"type": "INT32"
					},
					{
						"name": "CodUbigeo",
						"type": "INT32"
					},
					{
						"name": "Exento",
						"type": "INT32"
					},
					{
						"name": "Tipo",
						"type": "INT32"
					},
					{
						"name": "CodTemporada",
						"type": "INT32"
					},
					{
						"name": "Flag",
						"type": "INT32"
					},
					{
						"name": "EstadoNuevo",
						"type": "INT32"
					},
					{
						"name": "Angurriento",
						"type": "INT32"
					},
					{
						"name": "flag1",
						"type": "INT32"
					},
					{
						"name": "cAnno",
						"type": "INT32"
					},
					{
						"name": "CodInterno",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		}
	]
}